<p id="notice"><%= notice %></p>

<p>
  <strong>Bank:</strong>
  <%= @account.bank %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @account.agency %>
</p>

<p>
  <strong>Number:</strong>
  <%= @account.number %>
</p>

<p>
  <strong>User:</strong>
  <%= @account.user_id %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
